/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body Styling */
body {
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Login Box */
.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4c4c6c;
}

/* Input Fields */
.textbox {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.textbox input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.textbox input:focus {
    border-color: #ff2963;
    outline: none;
}

/* Submit Button */
input[type="submit"] {
    background-color: #ff2963;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #e02254;
}

/* Register Link */
.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #ff2963;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
